<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <footer th:fragment="footer">
        <div class="container-fluid col-8 px-4 fadeIn">
            <div class="mt-10">
                <h6 class="text-muted d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start">COOPERATION AND CONTACT</h6>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-8 my-auto d-flex justify-content-sm-center justify-content-md-center justify-content-lg-start">
                        <a class="text-white h4" href="mailto:tostrowski2000@gmail.com">tostrowski2000@gmail.com</a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 my-auto d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-end">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">
                                <a href="mailto:tostrowski2000@gmail.com" target="_blank" class="icon">
                                    <i class="fa fa-envelope gmail" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/IDontCareKappa" target="_blank" class="icon">
                                    <i class="fa fa-github-square github" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/tomasz-ostrowski-23a25b228/" target="_blank" class="icon">
                                    <i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-12 mt-10 d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start">
                        <p class="small text-muted">© 2022 DESIGNED & DEVELOPED BY TOMASZ OSTROWSKI.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>