<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>

        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-main px-2">
                <a class="navbar-brand slideLeft" th:href="@{/}" href="#">Forum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto col ">
                        <li class="nav-item slideLeft">
                            <a class="nav-link" th:href="@{/}" href="#">Posts</a>
                        </li>
                        <li class="nav-item slideLeft">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>

                        <li sec:authorize="isAnonymous()" class="nav-item slideLeft">
                            <a class="nav-link" href="/login">Login</a>
                        </li>

                        <li sec:authorize="isAnonymous()" class="nav-item  slideLeft">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                    <div class="navbar-nav col d-flex justify-content-end">
                        <div sec:authorize="isAuthenticated()" class="nav-item dropdown slideRight px-5">
                            <a sec:authentication="name" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Logged User</a>
                            <div class="dropdown-menu bg-main ">
                                <a class="dropdown-item text-white dropdown-item-hover" href="#">Edytuj profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white dropdown-item-hover" href="/logout">Wyloguj się</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
</body>
</html>